description "Docker Swarm Master"
author "Matt"
console log
start on filesystem
stop on runlevel [!2345]
script
/usr/local/bin/swarm manage \
{% if use_tls %}
    --tlsverify \
    --tlscacert=/etc/pki/tls/ca.pem \
    --tlscert=/etc/pki/tls/swarm-cert.pem \
    --tlskey=/etc/pki/tls/swarm-key.pem  \
{% endif %}
    -H tcp://0.0.0.0:{{ docker_port }} \
    --strategy {{  packing_strategy }} \
    {{ swarm_discovery_string }}
end script

